@charset "UTF-8";

.prenotazioni{
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.prenotazioni .filtro{
    width: 80%;
    height: max-content;
    padding: 20px;
    margin-top:30px;
    border: 1px solid blue;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    
    @media screen and (max-width: 584px){
    	transform: scale(0.8);
    	width:90%;
    }
}

.prenotazioni .visualizzaPrenotazioni{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: safe;
    justify-content: center; 
}

.prenotazioni form {
    width: 90%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    column-gap: 10px;
}



.prenotazioni form input[type="date"],input[type="email"]  {
  

    color: grey;

    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(88, 88, 88);
    border-radius: 15px;
    text-align: center;
    font-size: 0.9rem;
    height: 1.7rem;
    flex: auto;
}

.prenotazioni form input[type="submit"]{
   
    color: grey;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(88, 88, 88);
    border-radius: 15px;
    text-align: center;
    font-size: 0.9rem;
    height: 1.9rem;
    flex: auto;
}

.prenotazioni form input[type="submit"]:hover{
    background-color: #dffbff;
    cursor: pointer;
}

.prenotazioni .filtro div{
    width: max-content ;
    height: max-content;
    flex: auto;
    column-gap: 10px;
    display: flex;
    justify-content: space-around;
    
}

.prenotazioni .information{
	padding-top: 0px;
	width:100%;
	height:100%;
	display: flex;
	align-items:center;
	justify-content: center;
	font-size:clamp(16px, 1.5vw, 200px);
	color: grey;
	
	@media screen and (max-width: 835px) {
		padding-top: 40px;
	}
}

.visualizzaPrenotazioni .cardBox{
    
	width: 84%;
    height: max-content;
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 20px 0px;
}


.visualizzaPrenotazioni .card{
	border: 1px solid grey;
    border-radius: 15px;
    display: flex;
	width : 49%;
	flex: auto;
}

.visualizzaPrenotazioni .card ul{
    width: 100%;
   padding: 0;
    list-style-type: none;
}

.visualizzaPrenotazioni .card ul li{
  margin: 2%;
}

.visualizzaPrenotazioni .card .align1{
   font-size:clamp(16px, 1vw, 200px);
   color: grey;
   width: 95%;
   flex: auto;
   display: flex;
   column-gap: 20px;
   justify-content: space-between;
   flex-wrap: wrap;
}


.warning {
	margin-top: 20px;

    border: 1px solid rgb(195, 193, 138);
    background-color: rgb(246, 244, 181);
    width: clamp(300px, 40%, 50%);
    border-radius: 15px;
    height: fit-content;
    padding: 1rem 3%;
    display: flex;
    align-items: safe;
    justify-content: space-between;
}

.card .alignButton{
	width:100%;
	display:flex;
	align-items:center;
	justify-content: right;
}

.card button {
    width: clamp(20px, 1.6vw, 200px);
    height: clamp(20px, 1.6vw, 200px);
    background-image: url("https://img.icons8.com/?size=100&id=99055&format=png&color=FF0202");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-right: 20px;
}

.card span{
	width:100%;
}

.warning img {
    height: 2rem;
}

.warning span h4 {
    margin: 0px;
    font-size: 1.2rem;
    color: rgb(178, 176, 126);
    font-weight: bold;
}

.warning span {
    padding-left: 20px;
    height: min-content;
}

.warning span p {
    margin-top: 0.4rem;
    font-size: 1rem;
    color: rgb(195, 193, 138);
}