.carrelloVuoto {
	width: 90%;
	margin: auto;
    margin-top: 30vh;
    margin-bottom: 50px;
    text-align: center;
}

.carrelloVuoto h1{
	color: #a26f5c;
	font-size: clamp(35px, 3vw, 50px);
}

.carrelloVuoto p{
	color: #a26f5c;
	font-size: clamp(20px, 1.7vw, 50px);	
}

#containerTabella{
	margin:auto;
	margin-top:120px;
	margin-bottom:50px;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#containerTabella p{
	color: #A26F5C;
	font-size: clamp(18px, 1.5vw, 3vw);
	font-weight: bold;
}

table{
	width:100%;
	border-collapse: collapse;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

#tabellaCamere{
	margin-bottom: 40px;
}

table th{
	padding: 10px 10px;
	border: thin solid black;
	font-size:clamp(15px, 1.2vw, 20px);
}

table td{
	padding: 8px 10px;
	border: thin solid black;
	font-size:clamp(15px, 1.2vw, 18px);
}

#totale{
	font-size: clamp(20px, 1.7vw, 3vw);
    margin-top: 48px;
    margin-bottom: 0px;
    color: #50731d;
}

input[type="submit"]{
	width:100px;
	height: 2.2rem;
    border-radius: 15px;
    border: 0px;
    font-size: 0.8rem;
    background-color: rgb(37, 121, 255);
    color: white;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Nascondere le frecce nei browser basati su Mozilla (Firefox) */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]{
	width: 25px;
	text-align: center;
	font-size: clamp(13px, 1vw, 15px);
	margin: 0px 5px;
}

.containerImgTabella{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

table img{
	width: 20px;
}

table a{
	height: 20px;
}

.errorCarrello{
	width:90%;
	margin:auto;
	margin-bottom: 40vh;
	text-align: center;
}

.errorCarrello h1{
	color: #ff0000;
	font-size: clamp(25px, 2.5vw, 50px);
}

.errorCarrello p{
	color: #ff0000;
	font-size: clamp(20px, 1.5vw, 50px);	
}
