@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

.banner {
	max-width: 95%;

	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 120px;
}

.bannerImage {
	width: 80%;
	border-radius: 15px;
	margin-bottom: 30px;
}

hr {
	height: 1px;
	width: 10%;
	margin-top: 30px;
	background-color: #50731D;
	border: 1px solid #50731D;
	border-radius: 15px;
}

.testoDiBenvenuto p {
	max-width: 75%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-size: clamp(15px, 1.6vw, 200px);
	color: grey;
}