.images img{
	width: 50%;
}

.images{
	justify-content: space-between;
	display: flex;
	margin: auto;
	background-color: #CCCCCF;
	width: 80%;
}

@media screen and (max-width: 700px){
	.images{
		display: block;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: auto;
	}
	
	.images img{
		width: 80%;
	}
}