@charset "UTF-8";


.vUtenti {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  	align-items: top;
  	padding: 0;
  	margin: 0;
  	
}

.vUtenti .delete {

    width: clamp(20px, 2vw, 200px);
    height: clamp(20px, 2vw, 200px);
    background-image: url("https://img.icons8.com/?size=100&id=99055&format=png&color=FF0202");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;

}

.vUtenti a{
	text-decoration: none;
	color: #A26F5C;
}

.vUtenti a:hover{
	cursor: pointer;
}

.responsive-table {
    width: 100%;
	transform:scale(0.9);
	padding: 0;
	margin: 0;
	list-style: none;
	
    li {
    	width: 97.2%;
        font-size: clamp(16px, 0.70vw, 200px);
        border-radius: 3px;
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        color: white;
        background-color: #42620f;
        font-size: clamp(15px, 0.8vw, 200px);
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
		
        flex-basis: 26%;
    }

    .col-2 {
    	
        flex-basis: 17%;
    }

    .col-3 {
        flex-basis: 17%;
    }

    .col-4 {
    	
        flex-basis: 15%;
    }

    .col-5 {
    	
        flex-basis: 16%;
    }

    .col-6 {
    	
        flex-basis: 6.5%;
    }

    .col-7 {
    	
        flex-basis: 2.5%;
    }

    @media all and (max-width: 1248px) {
        min-width: 115%;
		transform:scale(0.8);
    }

    @media all and (max-width: 1000px) {
    	margin-top: 20px;
		min-width: 10px;
        width: 85%;
		transform:scale(1);
		
        .table-header {
            display: none;
        }

        .table-row {
            display: block;
        }

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 10px;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}